html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

html,
div#__next,
div#__next > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1.5em 2.5em;
  background: #fefcf3;
}

